
html {
    font-size: 16rem;
}

:root {
    --border-1: 1px;
    --border-2: 2px;
    --border-3: 3px;

    --shadow-1: none;
    
}


body[data-theme='light'] {
    --clr-back: white;
    --clr-primary: yellow;


}

body[data-theme='dark'] {

}