.search_block {
  border-radius: var(--brd-radius-3);
  box-shadow: var(--shadow-1);
  background: var(--clr-secondary);
  width: 100%;
  max-width: 920px;
  display: flex;
  padding: 32px;
  flex-direction: column;
}

.main_button_wrapper {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  justify-content: space-between;
}

.switcher_line {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}